DEBUG=9229
DB_HOST=postgres
DB_NAME=postgres_dev
DB_PASSWORD=postgres_dev
DB_USER=postgres
DB_PORT=5432
SECRET_TOKEN=secrethushushtoken
PORT=3001
PRISMA_PORT=3002
PGADMIN_PORT=5555
PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
MANAGEMENT_API_SECRET=secretapimanagement
