DEBUG=9229
DB_HOST=postgres
DB_NAME=postgres_dev
DB_PASSWORD=postgres_dev
DB_USER=postgres
DB_PORT=5432
SECRET_TOKEN=secrethushushtoken
PORT=3001
PRISMA_PORT=3002
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
